.directory-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media screen and (max-width: 672px) {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 80%;
  }
}
