.authentication-container {
  display: flex;
  justify-content: space-between;
  margin: 30px auto;
}

@media screen and (max-width: 816px) {
  .authentication-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
  }
}

@media screen and (min-width: 816px) {
  .authentication-container {
    width: 900px;
  }
}
